.products img {
	width:100%;
}

.products h1 {
	font-size:33px;
}

.products h3 {
	font-size:24px;
}

.products .btn {
	border-radius:3px;
	font-size:12px;
}

.products .btn-primary {
	text-transform: uppercase
} 

.products small {
	color: #cd3900;
	font-size:65%;
}