.footer {
  margin-top: 2em;
  background: rgb(67,77,85);
  padding: 2em 2em 2em 2em;
}

.footer .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer p {
  font-size: .8em;
}

.footer .btn {
  border-radius: 3px;
  margin-bottom: 20px;
}

.footer h5 {
  font-size: 1.1em;
}

.footer .btn-primary:hover {
  background-color: #e76f0a;
  border-color: #dd6a0a;
}

.footer .logos a {
  text-align: center;
}
.footer .logos img.primary-logo {
  max-height: 125px;
  height: 125px;
}
.footer .logos img {
  margin: 20px;
  max-width: 250px;
}

.footer .footer-content .row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .footer-content .content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  color: white;
}

.footer .content label {
  color: white;
}

.footer .content .btn {
  margin-top: 1em;
  white-space: normal;
  word-break: break-word;
  width: 150px;
}

.footer .content a {
  color: #F68832;
}

.footer hr {
  width: 100%;
}
