.header-wrap a:hover ,
.header-wrap a:active ,
.header-wrap a:focus ,
.header-wrap a:visited {
  text-decoration: none !important;
}
.header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  max-width:100%;
}

.header .nav-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  align-items: center;
}

.header .nav-blocks .nav-block {
  transition: all 0.2s;
  cursor: pointer;
  width: 7rem;
  font-size: 14px;
  display: block;
  margin-right: 2em;
  background: #5690ca;
  color: white;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding:30px 12px;
}

.header .nav-blocks .nav-block:last-child {
  margin-right: 0em;
}

.header .nav-blocks .nav-block:last-child:after {
  border: solid transparent;
  border-width: 0;
}

.header .nav-blocks .nav-block:after {
  transition: all 0.2s;
  position: absolute;
  top: 50%;
  left: 100%;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-left-color: #5690ca;
  border-width: 1.5em;
  margin-top: -1.5em;
}

.header .nav-blocks .nav-block:hover:after{
  border-left-color: #3f69a7;
}
.header .nav-blocks .nav-block:hover {
  background: #3f69a7;
  text-decoration: none;
}


.header .nav-blocks .nav-block.active {
  background: #f27421;
}
.header .nav-blocks .nav-block.active:after {
  border-left-color: #f27421;
}

.header .logo {
  display: flex;
  flex-direction: row;
}

.header .logo img {
  margin-right: 1em;
  width: auto;
  height: 7rem;
}

.header .logo .logo-text {   
  font-family: 'Raleway', sans-serif;
  display:flex;   
  flex-direction: column;   
  color:black; 
}

.header .logo .logo-text h1 {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 4.5em;
  margin-top: 0;
  line-height:1;
}

.header .logo .logo-text h1 em {
  font-style: normal;
  margin-right: -0.1em;
  font-weight: 700;
}
.header .logo .logo-text small {
  font-weight: 400;
  font-size: 0.9em;
}
.header .logo .logo-text small strong {
  margin-right: 0.4em;
  font-weight: 500;
}

.header-wrap .navigation {
  background: #5690ca;
  color: white;
  margin-bottom:40px;
}

.header-wrap .nav-item a{
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.header-wrap .show .nav-item a,
.header-wrap .collapsing .nav-item a{
  text-transform: none;
}

.header-wrap .navbar-toggler {
  background:#5690ca;
  border-color:#326aa1;
}

.header-wrap .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header-wrap .subnav .nav-item a,
.header-wrap .subnav .nav-item a:hover ,
.header-wrap .subnav .nav-item a:active ,
.header-wrap .subnav .nav-item a:focus ,
.header-wrap .subnav .nav-item a:visited {
  color: white !important;
  text-decoration: none !important;
}
.header-wrap .subnav .nav-item {
  padding-bottom: 0em;
}
.header-wrap .subnav .nav-item.active:hover ,
.header-wrap .subnav .nav-item.active {
  border-bottom-color: white;
}
.header-wrap .subnav .nav-item:hover {
  border-bottom: 0.5em solid #333;
  border-bottom-color: #333;
}
.header-wrap .subnav .search-bar {
  position: relative;
  top: -0.5em;
  display: flex;
  flex: 0 0 38%;
  flex-basis: 400px;
  background: transparent;
  padding: 0.5em;
  flex-direction: column;
  max-width: 350px;
}

.header-wrap .subnav > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.header-wrap .eea-banner {
  display: block;
  height: 95px;
  background-color: rgba(50,60,150,.85);
}
.header-wrap .eea-banner h1 a{
  line-height: 95px;
  font-size: 35px;
  color: rgb(212, 206, 216);
}
.header-wrap .eea-banner .eea-icons {
  font-size: 70px;
  color: white;
  position: relative;
  top: 11px;
  display: inline-block;
  margin-right: 0.3em;
}

@media (max-width: 480px) {
  .header-wrap .navigation,
  .header-wrap .navigation > .container {
    padding:0;
  }
}

.header-wrap hr {
  margin:10px;
}

@font-face{
   font-family:eea-icons;src:url(/fonts/eea-icons.eot?#iefix)
    format("embedded-opentype"),
    url(/fonts/eea-icons.woff) format("woff"),
    url(/fonts/eea-icons.ttf) format("truetype"),
    url(/fonts/eea-icons.svg#eea-icons) format("svg")
}

.eea-icons{line-height:1}
.eea-icons:before{font-family:eea-icons!important;font-style:normal;font-weight:400!important;vertical-align:top}
.eea-icons-enforcements:before{content:"\f101"}
.eea-icons-facilities:before{content:"\f102"}
.eea-icons-inspections:before{content:"\f103"}
.eea-icons-permits:before{content:"\f104"}
.eea-icons-program-data:before{content:"\f105"}
.eea-icons-stateseal:before{content:"\f106"}
