.actions .arrow {
	margin-left:15px;
}

.actions img {
	max-width:100%;
}

.actions .story-caption {
	font-size:1rem;
	background:#3b7cbc;
	padding:20px;
	color:white;
	position:absolute;
	bottom:0;
	margin:0;
	max-width:100%;
	right:15px;
	left:15px;
}

.actions .primary-story {
	overflow:hidden;
}

.actions .square-caption p {
	padding:20px;
	color:#5690ca;
}

.actions .square-background {
	background:url('../images/home_page/background.png');
	min-height:214px;
	margin-bottom: 20px;
} 

@media (mix-width: 767px) {
	.actions .square-background {
		height:214px;
	} 
	.actions .squares > div:nth-child(n+3) .square-background {
		margin-top:20px;
	} 
}