.resource-blocks .row {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resource-blocks a.block p > a {
  margin-left: 0.5em;
}
.resource-blocks .block h2 > a ,
.resource-blocks .block h2 > a:hover ,
.resource-blocks .block h2 > a:active ,
.resource-blocks .block h2 > a:focus ,
.resource-blocks .block h2 > a:visited {
  color: white;
  text-transform: uppercase;
}

.resource-blocks .block h2 > a small {
  text-transform: none;
}
.resource-blocks .block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  padding:0 15px;
}

.resource-blocks .block > a {
  margin-bottom:15px;
}

.resource-blocks .block h2 {
  background: #3670aa;
  font-weight: 300;
  padding: 0.5em;
  border-bottom: 8px solid #518FCC;
  color: white;
  margin-bottom: 0;
}


.resource-blocks .block p {
  font-size:14px;
}

.resource-blocks .block h2 {
  font-size: 28px;
}

.resource-blocks .block img {
  height: auto;
  max-width: 100%;
  margin: auto;
  display: block;
}

.resource-blocks .no-select {
  margin-top:-40px;
}

@media (max-width: 767px) {
  .resource-blocks .no-select {
    margin:1px;
  }
}

.resource-blocks .no-select .pull-right {
  font-size:.5em;
  float:right;
  color: white;
}
